.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
  background-color: var(--background-color);
  color: rgb(0, 217, 255);
}

.logo {
  font-size: 24px;
}

.sidebar {
  padding: 24px;
}

.container > main {
  padding: 24px;
  background-color: hsl(220, 26%, 18%);
}

.addNoteBtn {
  margin-top: 24px;
}

.loadingProgress {
  position: fixed;
  width: 100%;
  height: 6px;
  top: 0;
  left: 0;
  right: 0;
}
