.container {
  margin: 0 auto;
  display: grid;
  place-content: center;
  gap: 12px;
  height: 100vh;
  background-color: hsl(220, 33%, 15%);
  color: rgb(0, 217, 255);
  font-weight: 800;
}

.container > div {
  display: grid;
  gap: 12px;
  align-items: center;
}

.link-enter {
  opacity: 0;
}
.link-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.link-exit {
  opacity: 1;
}
.link-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}
